/* Estilos printipais do site */
/* A maior parte das animações e transições controladas pelo script, são definidas aqui */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-primary: #333;
  --button-secondary: #444;
  --button-wait-feedback: #555;
}

main {
  margin: 1rem auto;
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

html {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

@keyframes success-feedback {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.feedback-show {
  animation: success-feedback 5s;
}

.contact-success-feedback {
  text-align: center;
  color: rgb(6, 249, 6);
  opacity: 0;
  visibility: hidden;
}

body {
  position: relative;
}

menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 1rem;
  overflow: hidden;
  background-color: #333;
  border: solid 0.5rem #333;
  border-radius: 0.5rem;
  margin: auto;
  width: 70%;
}

menu li {
  padding: 0.5rem;
  border-radius: 1rem;
}

menu li:hover {
  background: #444;
  transform: scale(1.1);
}

.menu-link {
  text-decoration: none;
  color: white;
}

.content > section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#about-me,
#formation .education,
#formation .complementary-training {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-weight: bold;
  gap: 2rem;
}

#formation h2 {
  margin: 2rem;
}

#about-me {
  font-size: 1.5rem;
}

#portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

#portfolio p {
  font-size: 1.3rem;
}

#portfolio div h2 {
  font-size: 1.8rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: auto;
  gap: 2rem;
}

.formation-info {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 2rem;
}

.formation-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formation-desc span {
  font-size: 1.1rem;
  font-weight: normal;
}

.formation-desc small {
  font-size: 0.8rem;
  color: #aaa;
}

.formation-logo {
  width: 6rem;
  height: 6rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 0.1rem #333;
}

textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 0.1rem #333;
}

button {
  align-self: center;
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 0.1rem #333;
  background-color: #333;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #555;
}
